/* @font-face {
  font-family: "RadioSpaceBoldItalic";
  src: url(/public/assets/fonts/radiospaceboldital.ttf);
}
@font-face {
  font-family: "HarlowSolidPlain";
  src: url(/public/assets/fonts/HarlowSolidPlain.otf);
}
@font-face {
  font-family: "JuraMedium";
  src: url(/public/assets/fontsJura-Medium.ttf);
} */
